@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #1b67a5;
}

header{
    color: white;
    margin: 20px 0;
}

main{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

section > form > div> input#i_ano{
    width: 90px;
    border: 1px solid #000000a9;
    padding: 3px;
    border-radius: 5px;
}

section > form > div > label:hover, input.verifica{
    cursor: pointer;
}

form{
    margin-bottom: 20px;
}

form > div.dados{
    margin-bottom: 20px;
    text-align: left;
}

input.verifica{
    width: 90px;
    border: 1px solid #000000a9;
    padding: 3px;
    border-radius: 5px;
    background-color: #27849b;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 5px #1414146b;
}

input.verifica:hover{
    background-color: #1b67a5;
    border-radius: 7px;
    font-weight: normal;
    transition: .5s;
}

div > img#imagem{
    display: none;
}

footer{
    color: white;
    margin-top: 20px;
    font-style: italic;
}
